@import "mixins";
@import "vars";

%container {
    padding: 0% 2%;
}

%flexDisplay {
    display: flex;
    justify-content: space-between;
}

%margin {
    margin-left: auto;
    margin-right: auto;
}

.contacts {
    @extend %container;
    @extend %margin;
    width: 80%;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px -10px rgb(190, 190, 190);
    padding-bottom: 2%;
    align-items: center;
    padding-top: 30px;
    background: white;
    margin-bottom: 40px;

    h1 {
        font-size: 36px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .info {
        margin: 30px 0;
        font-weight: 500;
        font-size: 25px;
    }

    .contact {
        display: flex;
        margin-bottom: 35px;
    
        .icon {
          width: 50px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          background: #eee;
          color: #3b3b3b;
          border-radius: 50%;
          border: 1px solid silver;
          margin-right: 15px;
          cursor: pointer;
          transition: transform 600ms ease;
    
            .fa-phone {
                transform: rotate(90deg);
            } 

            &:hover {
                transform: translateY(-10px);
            }
        }
    
        h3 {
          color: #000;
          text-transform: uppercase;
          margin-bottom: 7px;
          font-size: 25px;
        }
    }
}

@media (min-width: 320px) and (max-width: 374px){

    .contacts {
    
        h1 {
            font-size: 26px;
        }
    
        .info {
            font-size: 16px;
        }
    
        .contact {
        
            .icon {
              width: 40px;
              height: 40px;
              line-height: 40px; 
            }
        
            h3 {
              font-size: 16px;
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 550px){

    .contacts {
    
        h1 {
            font-size: 26px;
        }
    
        .info {
            font-size: 16px;
        }
    
        .contact {
        
            .icon {
              width: 40px;
              height: 40px;
              line-height: 40px; 
            }
        
            h3 {
              font-size: 16px;
            }
        }
    }
}
