@import "mixins";
@import "vars";

%container {
    padding: 0% 2%;
}

%flexDisplay {
    display: flex;
    justify-content: space-between;
}

%margin {
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html, body{height: 100%;}

.formSearch {
    width: 100%;
    height: 100%;
    position: fixed;
    background-blend-mode: multiply;
    background-color: rgba($color: #bababa, $alpha: 0.8);
    margin-top: -40px;
    
    .form {
        width: 60%;
        margin: auto;      
        margin-top: 170px;

        label {
            font-size: 36px;
            font-weight: 500;
        }
    
        input {
            display: block;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: none;
            padding: 10px;
            font-weight: 500;
            margin-top: 20px;
        }
    
        input:focus {
            border: 3px solid rgb(142, 234, 251);
        }
    
        button {
            margin-top: 20px;
        }
    }   
}

header {
    @extend %container;
    @extend %flexDisplay;
    @extend %margin;
    width: 80%;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px -10px rgb(190, 190, 190);
    padding-bottom: 2%;
    align-items: center;
    padding-top: 30px;
    background: white;

    .file {
        transition: all 1s;
    }

    .file:hover {
        transform: rotate(360deg);
    }

    .logo {
        display: inline-block;
        list-style: none; 
        vertical-align: middle;
        margin-left: -25px;

        .one {
            font-size: 25px;
        }

        .two {
            font-size: 25px;
            color: rgb(154, 60, 60);
        }
    }
    
    .search {
        height: 40px;
        width: 250px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 2px solid rgb(166, 166, 166);
    }

    .search:focus {
        border: 3px solid rgb(142, 234, 251);
    }

    .button {
        list-style: none; 

        .three {
            display: inline-block;

            .bt {
                border: 2px solid rgb(166, 166, 166);
                font-weight: 500;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

.enter {
    @extend %container;
    @extend  %flexDisplay;
    @extend %margin;
    width: 80%;
    margin-top: 40px;
    border: 2px solid rgb(109, 51, 51);
    border-radius: 10px;
    box-shadow: 15px 15px 10px -10px rgb(190, 190, 190);
    padding-bottom: 2%;
    align-items: center;
    padding-top: 30px;
    background: rgb(154, 60, 60); 

    .bt {
        font-weight: 500;
    }

    .img {
        width: 600px;
        border-radius: 10px;        
    }
}

.headlines {
    @extend %container;
    @extend  %flexDisplay;
    @extend %margin;
    width: 80%; 
    margin-top: 40px;

    .four {
        margin-right: 90px;    
    }
}

.main {
    @extend %container;
    @extend  %flexDisplay;
    @extend %margin;
    width: 85%; 
    padding-bottom: 2%;  

    .articles {
        @extend %container;
        @extend  %flexDisplay;
        flex-wrap: wrap;
        margin: -8px -8px;
        width: 60%;
        padding-top: 30px;
        padding-bottom: 2%;
    
    
        .article {
            width: 47%;
            background: white;
            border-radius: 10px;
            padding-bottom: 10%;
            margin: 8px;
    
            .img {
                width: 100%;
                height: 300px;
                border-radius: 10px;  
            }
    
            h2, p {
                padding-left: 5%;
                padding-right: 5%;
            }
        
            p {
                font-weight: 500;
            }
        
            button {
                margin-left: 5%;
                margin-right: 5%;
                font-weight: 500;
            }
    
        }
    
        .more {
            @extend %margin;
            margin-top: 30px;
        }
    
        .bt {
            font-weight: 500; 
        }
    
    }

    .description {
        @extend %container;
        @extend  %flexDisplay;
        @extend %margin;
        width: 100%; 
        margin-top: 40px;
        display: none;
    
        .five {
            margin-left: 20px;    
        }
    }

    .base {
        @extend %container;
        width: 33%;
        padding-top: 30px;
        padding-bottom: 2%;
    
        .inner1 {
            background: rgb(230, 239, 246);
            height: 370px;
            border-radius: 10px;
            margin-bottom: 5%;
        }
    
        .inner2 {
            background: rgb(184, 222, 251);
            height: 550px;
            border-radius: 10px;
            margin-bottom: 5%;
    
            .img {
                width: 90%;
                height: 40%;
                margin-top: 5%;
                margin-left: 5%;
                border-radius: 10px;  
                border: 5px solid white;
            }
    
            button {
                margin-left: 5%;
                margin-right: 5%;
                font-weight: 500;
            }
        }
    
        h2, p {
            padding-left: 5%;
            padding-right: 5%;
        }
    
        p {
            font-weight: 500;
            margin-top: 10px;
        }
    }
}

.footer {
    @extend %margin; 
    @extend %flexDisplay;   
    width: 80%; 
    border-radius: 10px;
    box-shadow: 15px 15px 10px -10px rgb(190, 190, 190);
    padding-bottom: 2%;
    padding-top: 2%;
    background: white;
    font-weight: 600;
    align-items: center;
    padding: 40px 5%;
    

    .up-btn, .social div {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        background: #eee;
        border: 1px solid silver;
        cursor: pointer;
        color: #3b3b3b;
        transition: transform 600ms ease;

        &:hover {
            transform: translateY(-10px);
        }
    }

    .social div {
        display: inline-block;
        margin-left: 15px;
    }
}

@media (min-width: 320px) and (max-width: 374px){

    header {
        display: block;
        height: 215px;
        padding-top: 10px;
        
        .file {
            width: 80px;
            height: 80px;
        }

        .logo {
            
            .one, .two{
                font-size: 20px;
            }
        }
        .search {
            margin-top: 10px;
            width: 100%;
        } 
        
        .button {
            margin-top: 10px;
            text-align: center;
            padding: 0;     
            
            .bt {
                font-size: 13px;
            }
        }
    }

    .enter{
        display: block; 
        text-align: center;
         
        h1 {
            margin-top: -20px;
            font-size: 18px;
        }

        h3 {
            margin-top: -20px;
            font-size: 16px;
        }

        .bt {
            margin-top: -20px;
            margin-bottom: 10px;
        }

        .img {
            width: 100%;
        }
    }

    .headlines {

        .four {
        display: none;   
        }
    }

    .main {
        display: block;
        
        .articles{
            width: 100%;
                        
            .article {
                width: 100%;
                                
                .img {
                    height: 200px;
                }
            }
        }

        .description {
            display: initial;
        }

        .base {
            margin-top: -30px;
            width: 100%;
            
            .inner1 {
                height: 550px;
                padding-top: 10px;
            }
            
            .inner2 {
                height: 700px;

                .img {
                    height: 35%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer { 
        padding: 20px 3%;
        text-align: center;
        
        .up-btn, .social div {
            width: 40px;
            height: 40px;
            line-height: 40px;   
        }
    
        .social div {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 0px;
        }
    }
}

@media (min-width: 375px) and (max-width: 550px){

    header {
        display: block;
        height: 215px;
        padding-top: 10px;
        
        .file {
            width: 80px;
            height: 80px;
        }

        .logo {
            
            .one, .two{
                font-size: 20px;
            }
        }
        .search {
            margin-top: 10px;
            width: 100%;
        } 
        
        .button {
            margin-top: 10px;
            text-align: center;
            padding: 0;
            
        }
    }

    .enter{
        display: block; 
        text-align: center;
         
        h1 {
            margin-top: -20px;
            font-size: 18px;
        }

        h3 {
            margin-top: -20px;
            font-size: 16px;
        }

        .bt {
            margin-top: -20px;
            margin-bottom: 10px;
        }

        .img {
            width: 100%;
        }
    }

    .headlines {

        .four {
        display: none;   
        }
    }

    .main {
        display: block;
        
        .articles{
            width: 100%;
                        
            .article {
                width: 100%;
                                
                .img {
                    height: 200px;
                }
            }
        }

        .description {
            display: initial;
        }

        .base {
            margin-top: -30px;
            width: 100%;
            
            .inner1 {
                height: 450px;
                padding-top: 10px;
            }
            
            .inner2 {
                height: 600px;

                .img {
                    height: 40%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer { 
        padding: 20px 3%;
        
    
        .up-btn, .social div {
            width: 40px;
            height: 40px;
            line-height: 40px;   
        }
    
        .social div {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 0px;
        }
    }
}

@media (min-width: 551px) and (max-width: 767px){

    header {
        display: block;
        height: 215px;
        padding-top: 10px;
        
        .file {
            width: 80px;
            height: 80px;
        }

        .logo {
            
            .one, .two{
                font-size: 20px;
            }
        }
        .search {
            margin-top: 10px;
            width: 100%;
        } 
        
        .button {
            margin-top: 10px;
            text-align: center;
            padding: 0;
            
        }
    }

    .enter{
        display: block; 
        text-align: center;
         
        h1 {
            margin-top: -20px;
            font-size: 22px;
        }

        h3 {
            margin-top: -20px;
            font-size: 20px;
        }

        .bt {
            margin-top: -20px;
            margin-bottom: 10px;
        }

        .img {
            width: 100%;
        }
    }

    .headlines {

        .four {
        display: none;   
        }
    }

    .main {
        display: block;
        
        .articles{
            width: 100%;
                        
            .article {
                width: 100%;
                                
                .img {
                    height: 300px;
                }
            }
        }

        .description {
            display: initial;
        }

        .base {
            margin-top: -30px;
            width: 100%;
            
            .inner1 {
                height: 450px;
                padding-top: 10px;
            }
            
            .inner2 {
                height: 600px;

                .img {
                    height: 40%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer { 
        padding: 20px 3%;
    
        .social div {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 0px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px){

    header {
        display: block;
        height: 215px;
        padding-top: 10px;
        
        .file {
            width: 80px;
            height: 80px;
        }

        .logo {
            
            .one, .two{
                font-size: 20px;
            }
        }
        .search {
            margin-top: 10px;
            width: 100%;
        } 
        
        .button {
            float: right;
            margin-top: 10px;
        }
    }

    .enter{

        h1 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }

        .img {
            width: 330px;
        }
    }

    .headlines {

        .four {
        display: none;   
        }
    }

    .main {
        display: block;
        
        .articles{
            width: 100%;

            .article {

                .img {
                    height: 200px;
                }
            }
        }

        .description {
            display: initial;
        }

        .base {
            margin-top: -30px;
            width: 100%;

            .inner1 {
                height: 250px;
                padding-top: 10px;
            }
            
            .inner2 {
                height: 500px;

                .img {
                    height: 50%;
                }
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1180px){

    header {
        padding-top: 20px;
        
        .search {
            margin-top: 5px;
            width: 100%;
            margin-left: 30px;
        } 
        
        .button {
            float: right;
            margin-top: 10px;
        }
    }

    .enter{

        h1 {
            font-size: 28px;
        }

        h3 {
            font-size: 23px;
        }

        .img {
            width: 400px;
        }
    }

    .headlines {

        .four {
        display: none;   
        }
    }

    .main {
        display: block;
        
        .articles{
            width: 100%;

            .article {

                .img {
                    height: 200px;
                }
            }
        }

        .description {
            display: initial;
        }

        .base {
            margin-top: -30px;
            width: 100%;

            .inner1 {
                height: 250px;
                padding-top: 20px;
            }
            
            .inner2 {
                height: 650px;

                .img {
                    height: 60%;
                }
            }
        }
    }
}

@media (min-width: 1181px) and (max-width: 1600px){

    header {
        padding-top: 20px;
        
        .search {
            margin-top: 5px;
            width: 100%;
            margin-left: 30px;
        } 
        
        .button {
            float: right;
            margin-top: 10px;
        }
    }

    .enter{

        .img {
            width: 500px;
        }
    }

    .headlines {

        .four {
        display: none;   
        }
    }

    .main {
        display: block;
        
        .articles{
            width: 100%;

            .article {

                p {
                    font-size: 20px;
                }
            }
        }

        .description {
            display: initial;
        }

        .base {
            margin-top: -30px;
            width: 100%;

            .inner1 {
                height: 270px;
                padding-top: 20px;

                p {
                    margin-top: 10px;
                    font-size: 20px;
                }
            }
            
            .inner2 {
                height: 900px;

                .img {
                    width: 90%;
                    height: 70%;
                    margin-top: 30px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}

//Далее идут основные стили для сайта - (min-width: 1601px) and (max-width: 1920px)